.container-fluid.bg-dark.p-3
  nav.navbar.navbar-expand-lg.navbar-dark
    .container-fluid
      a.navbar-brand(href="#")
        b
          i= navbarTitle
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link.mx-2(href=(isAdmin ? '/' : '/admin') class=(path === '/admin' ? 'nav-link active' : 'nav-link'))
              | Admin
          li.nav-item
            a.nav-link(href=(isAdmin ? '/admin' : '/') class=(path === '/' ? 'nav-link active' : 'nav-link'))
              i.bi.bi-house-door-fill
              | Anasayfa
          li.nav-item
            a.nav-link(href=(isAdmin ? '/admin/about' : '/about') class=(path === '/about' || path === '/admin/about' ? 'nav-link active' : 'nav-link'))
              | Hakkımızda
          li.nav-item
            a.nav-link(data-bs-toggle="offcanvas", href=(isAdmin ? "#offcanvasCategory" : "/content"),class=(path === '/content' ? 'nav-link active' : 'nav-link') role="button", aria-controls="offcanvasCategory") 
              if isAdmin
                | Kategori Ekleme
              else
               li.nav-item
                a.nav-link(href='/content' class=(path === '/content' ? 'nav-link active' : 'nav-link')) İçerikler
          li.nav-item
            a.nav-link(href=(isAdmin ? "/admin/ubungen" : "/ubungen") class=(path === '/ubungen' || path === '/admin/ubungen' ? 'nav-link active' : 'nav-link'))
              i.bi.bi-journal-check
              if isAdmin
                | Yönetim Paneli
              else
                | Alıştırma


div.offcanvas.offcanvas-start(tabindex="-1", id="offcanvasCategory", aria-labelledby="offcanvasCategoryLabel")
  div.offcanvas-header.border-bottom.border-danger
    h5.offcanvas-title(id="offcanvasCategoryLabel") Kategoriler
    button.btn-close(type="button", data-bs-dismiss="offcanvas", aria-label="Close")
  div.offcanvas-body
    div.alert.alert-danger#alertMessage(role="alert", style="display: none;")
      h4.text-center Kategori ekleme sayfasına yönlendiriliyorsunuz
      div.progress(role="progressbar", aria-label="Basic example", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100")
        div.progress-bar#progressBar.w-75(style="width: 0%;")
    div
      h2 Sitenizdeki kategoriler
      table.table.mt-4
        thead
          tr
            th ID
            th Kategori Adı
            th Açıklama
        tbody
          if categories && categories.length > 0
            each category in categories
              tr
                td= category.id
                td= category.name
                td= category.description
          else
            tr
              td(colspan="4") Kategori bulunamadı
      h5 Kategori ekleme paneline gitmek için tıklayın
      form#redirectForm(action="/admin/category", method="GET")
        button.btn.btn-primary.mt-2(type="submit") Sayfaya Git

script.
  document.addEventListener('DOMContentLoaded', function () {
    var form = document.getElementById('redirectForm');
    var alertMessage = document.getElementById('alertMessage');
    var progressBar = document.getElementById('progressBar');

    form.addEventListener('submit', function (event) {
      event.preventDefault(); // Formun otomatik gönderimini durdur
      alertMessage.style.display = 'block'; // Mesajı görünür yap
      progressBar.style.width = '100%'; // Progress bar dolu göster

      setTimeout(function () {
        window.location.href = form.action; // Sayfaya yönlendir
      }, 1000); // 1 saniye sonra yönlendir
    });
  });

